[submodule "deps/gmflow"]
	path = deps/gmflow
	url = https://github.com/haofeixu/gmflow.git
[submodule "deps/ControlNet"]
	path = deps/ControlNet
	url = https://github.com/lllyasviel/ControlNet.git
[submodule "deps/ebsynth"]
	path = deps/ebsynth
	url = https://github.com/SingleZombie/ebsynth.git
